@font-face {
    font-family: 'Gothan';
    src: url('fonts/gotham-bold.otf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'GothanThin';
    font-weight: bold;
    src: url('fonts/gotham-thin.ttf');
}

@font-face {
    font-family: 'GothanLightItalic';
    font-weight: bold;
    src: url('fonts/gotham-light-italic.ttf');
}

.col {
    flex-basis: 0;
    flex-grow: 1; /* isso faz com que a largura fique "automática" */
    max-width: 100%;
}

/* *********************************Home Page********************************* */
#logo-baimi{
    width: 160px;
}

.menu{
    margin-top: 20px;
}

.menu-item{
    font-family: 'Gothan';
    color: grey;
    padding: 0px 25px 0px 0px;
}

.menu-item:after{
    content: "";
    display: block;
    height: 4px;
    width: 85%;
    margin: 10px;
    color: #0042ff; /* old IE */
    background-color: #0042ff; /* Modern Browsers */
}

.menu-item-red-line:after{
    content: "";
    display: block;
    height: 4px;
    width: 85%;
    margin: 10px;
    color: #ff002a !important;; /* old IE */
    background-color: #ff002a !important;; /* Modern Browsers */
}

.red-line{
    color: #ff002a !important; /* old IE */
    background-color: #ff002a !important;  /* Modern Browsers */
}

/* Second Section*/
.second-section{
    background-color: #3e63ed;
    height: 468px;
}

 #icons-container{
    margin-top: 40px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.19);
    max-width: 1237px !important;
    padding: 5px;
    margin-bottom: 75px;
}

.icon-container {
    border-radius: 4px 35px 35px 2px;
    border-left: 5px solid red;
    box-shadow: 6px 15px 10px 0px rgba(0,0,0,0.19);
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.text-container{
    margin: 15px;
}

.icon-container img{
    width: 70px;
    margin: 15px;
}

#icons-container p {
    font-family: 'Gothan';
    color: #ff1148;
    margin-bottom: -6px;
}

#icons-container span {
    font-family: 'Comfortaa';
    color: grey;
    margin-bottom: -6px;
}


/* Conheça nossos produtos */
#conheca {
    background-color: #e41848;
    height:  170px;
    width: auto;
    font-family: 'Gothan';
    color: #ffffff;
    margin-bottom: 25px;
    box-shadow: 6px 15px 10px 0px rgba(0,0,0,0.19);
}

#conheca .float-left{
    margin-right: 20px;
}

#conheca img{
    margin-top: 40px;
    margin-left: 41.64px;
    width: 125px;
}

#conheca h1{
    margin-top: 35px;
}

#conheca h4{
    margin-top: 60px;
}

/* Banner */

#banner {
    margin-bottom: 30px;
}

/* Produtos */
#filter{
    margin-bottom:  70px;
    font-family: 'GothanThin';
}

.product{
    margin-bottom: 45px;
}

.product-img {
    width: 110px;
    margin-right: 20px;
    margin-bottom: 55px;
}

.product-title{
    font-family: 'Gothan' !important;
}

.free-shipping{
    font-family: 'Gothan';
    background-color: #e41848;
    color: white;
    padding: 4px;
}

.portion{
    font-family: 'Gothan' !important;
    margin: 15px 0px 0px 0px;
}

.amount{
    font-family: 'Gothan';
    margin: 0px;
}

.in-cash{
    font-family: 'GothanThin';
    font-size: 15px;
}

.buy-now{
    font-family: 'Gothan';
    background-color: #e41848;
    border:none;
    width: 230px;
    height: 40px;
    margin-top: 30px;
    margin-left: 20px;
}

.quantity{
    font-family: 'Gothan';
}

.way-payment{
    font-family: 'Gothan';
}

.sold{
    font-family: 'Gothan';
    color: #aaaaaa;
    margin: 0px;
}

.gigabytes{
    color: #e11847;
}

.description{
    font-family: 'Gothan';
}

.opnion-number{
    font-family: 'GothanLightItalic';
    margin-left: 10px;
}

#selos{
    margin-bottom: 15px;
}

#selos img{
    width: 100px;
    margin: 10px;
}


/* DESTAQUE Sobre nós */
#destaque-aboutus{
    min-height: 250px;
    font-family: 'Gothan';
    color: #ffffff;
    box-shadow: 6px 15px 10px 0px rgba(0,0,0,0.19);
    margin-bottom: 70px;
}
#destaque-aboutus img {
    width: 110px;
    margin: 70px 0px 0px 0px;
}

#destaque-aboutus h1{
    margin: 70px 0px 0px -50px;
}

#destaque-aboutus h5{
    padding-top: 105px;
}

/* Sobre nós */
#menu-about-us li{
    font-family: 'Gothan';
    color: grey;
    padding: 0px 20px 0px 0px;
}

#menu-about-us li:after {
    content: "";
    display: block;
    height: 4px;
    width: 85%;
    margin: 10px;
    color: #0042ff; /* old IE */
    background-color: #0042ff; /* Modern Browsers */
}

#about-us{
    font-family: 'Gothan';
    color: black;
    margin-bottom: 40px;
}

/* Talk with us */
#destaque-talk-us{
    min-height: 150px;
    background-color: #ff1148;
    font-family: 'Gothan';
    color: #ffffff;
    box-shadow: 6px 15px 10px 0px rgba(0,0,0,0.19);
    margin-bottom: 70px;
}

#destaque-talk-us img {
    width: 110px;
    margin: 40px 0px 0px 25px;
}

#destaque-talk-us h1{
    margin: 50px 0px 0px -50px;
}


/********************************** Tela do produto *******************************/
#product-first-destaque{
    min-height: 250px;
    font-family: 'Gothan';
    padding: 90px;
}

#product-first-destaque h1{
    color: #000000;
}

#product-second-destaque {
    min-height: 165px;
    font-family: 'Gothan';
    color: white;
}

#product-second-destaque p.h5{
    margin-top: 70px;
}

#product-second-destaque p.h2{
    margin: 40px 0px -5px 0px;
}

#product-second-destaque img{
    width: 130px;
    margin-top: 40px;
}

#product-image{
    margin: 35px auto auto auto;
    width: 450px;
    height: 500px;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
}

#product-image img {
    width: 300px;
}

#product-specifications{
    margin-top: 25px;
}

p.product-title{
    margin: 0px;
}

p.free-shipping.h3{
    width: 278px;
}

p.amount.h1{
    font-size: xxx-large;
    margin-bottom: 0px;
}

p.portion.h2{
    font-size: xxx-large;
    margin-bottom: 0px;
}

p.in-cash.h4{
    font-size: 22px;
}

.botoes-compra{
    margin: 20px 0px 20px 0px
}

.buy{
    font-family: 'Gothan';
    font-size: 15px;
    height: 75px;
    width: 200px;
    background-color: #edf1f2;
    border: none;
    color: black;
}

.add-cart{
    font-family: 'Gothan';
    font-size: 11px;
    height: 75px;
    width: 200px;
    background-color: #edf1f2;
    border: none;
    color: black;
}

.simulate{
    background-color:  #ff1148;
    margin-bottom: 50px;
}

#product-div{
    margin: 1px auto auto auto;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
}

.features{
    font-family: 'Gothan';
}

.evaluations{
    margin: 0px -60px -20px -60px;
    background-color: #ffffff;
}

.evaluation-box{
    height: 400px;
    padding: 50px 20px 0px 20px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
}

.evaluation-box p{
    font-family: 'Gothan';
}

/* Talk with us */
#destaque-talk-us-produto{
    min-height: 150px;
    background-color: #ff1148;
    font-family: 'Gothan';
    color: #ffffff;
    box-shadow: 6px 15px 10px 0px rgba(0,0,0,0.19);
    margin-bottom: 70px;
    margin-top: 50px;
}

#destaque-talk-us-produto img {
    width: 110px;
    margin: 40px 0px 0px 25px;
}

#destaque-talk-us-produto h1{
    margin: 50px 0px 0px -50px;
}


/********************************** Fim Tela do produto *******************************/

/********************************** Tela Complete Order *******************************/

#complete-red-destaque .text-center{
    margin-top: 40px;
}

.form-confirmation button{
    width: 70%;
}

/********************************** FIM Tela Complete Order *******************************/

#completed-destaque{
    min-height: 250px;
    font-family: 'Gothan';
    padding: 80px;
    color: white;
}

#completed-destaque .h1{
    padding: 0px 40px 0px 40px;
}

#completed-destaque img{
    width: 130px;
}

#woman-completed-order{
    width: 96%;
    box-shadow: 6px 15px 10px 0px rgba(0,0,0,0.19);
}

#complete-red-second-destaque p{
    margin-top: 50px;
} 


/* GERAL */
.destaque-azul{
    background-color: #0042ff;
    font-family: 'Gothan';
}

.destaque-vermelho{
    background-color: #e41848;
    min-height: 165px;
    font-family: 'Gothan';
    color: white;
}


/* Footer */
#footer{
    background-color: #202020; 
    margin-top: 50px;
}

#footer img {
    padding: 45px;
}

/* ********************************* FIM Home Page ********************************* */

/* Media Queries */
@media only screen and (max-width: 768px){


/* *********************************Home Page********************************* */

    /* Destaque: conheça */
    #conheca{
        height: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    #conheca img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Destaque: sobre nós */
    #destaque-aboutus{
        padding-top: 25px;
    }
    #destaque-aboutus h1{
        margin: 30px 0px 0px 0px;
        font-size: xx-large;
        text-align: center;
    }
    #destaque-aboutus img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #destaque-aboutus h5{
        padding: 22px;
        text-align: center;
    }

    /* Produtos */
    .product{
        margin-left: 100px;
        font-size: 14px;
    }

    .free-shipping{
        font-size: 9px;
    }

    .product-img{
        margin: 0px 25px 3px -25px;
    }

    .amount{
        font-size: 19px;
    }

    .buy-now{
        margin-left: -45px;
    }

    /* talk with us */
    #destaque-talk-us{
        min-height: auto;
        padding-bottom: 40px;
    }
    
    #destaque-talk-us h1{
        margin: 30px 0px 0px 0px;
        font-size: xx-large;
        text-align: center;
    }
    #destaque-talk-us img{
        display: block;
        margin-left: 30px;
        margin-right: auto;
    }

    #destaque-talk-us h5{
        padding: 22px;
        text-align: center;
    }
    /* ************** FIM HOME PAGE ****************** */




    /* product page */

    #product-second-destaque p {
        text-align: center;
    }

    #product-second-destaque p.h5 {
        margin: 30px 0px 30px 0px;
    }

    #product-image{
        width: 340px;
        height: 415px;
    }

    .add-cart{
        margin-top: 5px;
    }
    .evaluations{
        margin: 0px;
    }

    .evaluation-box{
        margin-bottom: 10px;
        text-align: center;
    }

    /* fim product page */




    /* Completed Order page  */

    #completed-destaque img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    #completed-destaque .h1 {
        text-align: center;
    }

    #complete-red-destaque{
        height: 275px;
    }

    /* fim Completed Order page*/





    /* footer */
    #footer{
        height: auto;
    }

    #footer img{
        margin: 40px 0px 0px 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* ******************************** */

    

    /* ********************************* FIM Home Page ********************************* */

}
@media only screen and (max-width: 360px){
    /* *********************************Home Page********************************* */
    /* Destaque: conheça */
    #conheca{
        height: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    #conheca img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* ******************************** */

    /* Destaque: sobre nós */
    #destaque-aboutus h1{
        margin: 30px 0px 0px 0px;
        font-size: xx-large;
        text-align: center;
    }
    #destaque-aboutus img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #destaque-aboutus h5{
        padding: 22px;
        text-align: center;
    }
    /* ******************************** */

    /* Produtos */
    .product{
        margin-left: 50px;
        font-size: 14px;
    }

    .free-shipping{
        font-size: 14px;
    }

    .product-img{
        margin: 0px 25px 3px -25px;
    }
    /* ******************************** */

    /* talk with us */
    #destaque-talk-us{
        min-height: auto;
        padding-bottom: 40px;
    }
    
    #destaque-talk-us h1{
        margin: 30px 0px 0px 0px;
        font-size: xx-large;
        text-align: center;
    }
    #destaque-talk-us img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    #destaque-talk-us h5{
        padding: 22px;
        text-align: center;
    }
    /* ******************************** */

    /* product page */

    #product-image {
        width: 250px;
        height: 279px;
        padding: 30px;
    }
    #product-image img {
        margin-top: -10px;
    }

    .evaluations{
        margin: 0px;
    }

    .evaluation-box{
        margin-bottom: 10px;
        text-align: center;
    }

    .buy {
        margin-bottom: 10px;
    }

    #product-first-destaque{
        text-align: center;
    }

    #product-second-destaque p {
        text-align: center;
    }

    #product-second-destaque p.h5 {
        margin: 30px 0px 20px 0px;
    }

    #destaque-talk-us-produto img {
        width: 110px;
        margin: 40px 0px 0px 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #destaque-talk-us-produto h1 {
        margin: 20px 0px 20px 0px;
        text-align: center;
    }

    /* fim product page */

    /* footer */
    #footer{
        height: auto;
    }

    #footer img{
        margin: 40px 0px 0px 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* ******************************** */

    /* ********************************* FIM Home Page ********************************* */
}




